677A/obj/Debug/net8.0/Problem677.AssemblyInfoInputs.cache
677A/obj/Debug/net8.0/Problem677.AssemblyInfo.cs
677A/obj/project.nuget.cache
677A/obj/Problem677.csproj.nuget.g.props
677A/obj/Problem677.csproj.nuget.dgspec.json